:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 5px
}
.css-variables {
    background: #193549;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    height: 100%;
    overflow: auto;
    h2 {
        margin: 0 auto;
        .h1 {
            color: var(--base);
        }
    }
    .controls {
        margin-bottom: 50px;
        input {
            width: 100px;
            margin-right: 1rem; 
        }
    }
    img {
        width: 85%;
        height: 55%;
        background-color: var(--base);
        filter: blur(var(--blur));
        padding: var(--spacing);
    }
}